/*
 *
 * MMM-NextCloud-Tasks
 *
 * Jan Ryklikas
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-NextCloud-Tasks-wrapper {
    color: var(--color-text-bright);
    font-size: 20px;
    line-height: 2rem;
    text-align: left;
}

.MMM-NextCloud-Tasks-wrapper ul {
    list-style: none;
    padding-left: 10px;
}

.MMM-NextCloud-Tasks-wrapper > ul {
    padding: 0;
}

.MMM-NextCloud-Tasks-Toplevel {
    margin-top: 0.5em;
}
.MMM-NextCloud-Task-List-Item {
    margin-top: -0.8em;
}

.MMM-Nextcloud-Tasks-Date-Section {
    margin-top: -1.1em;
    margin-left: 1.5em;
    font-size: var(--font-size-xsmall); 
}

.MMM-NextCloud-Tasks-StartDate {
    color: rgb(166, 175, 206);
    
}

.MMM-NextCloud-Tasks-DueDate {
    color: rgb(204, 150, 150);
    
}

.MMM-Nextcloud-Tasks-New-Config-Note {
    font-size: var(--font-size-xsmall);
}

.MMM-NextCloud-Task-List-Item > div {
    pointer-events: auto;
}

.MMM-NextCloud-Tasks-Heading-0,
.MMM-NextCloud-Tasks-Heading-1,
.MMM-NextCloud-Tasks-Heading-2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}

.MMM-NextCloud-Tasks-SubList {
    margin-left: 0.4em;
    color: var(--color-text-dimmed);
}
